FLASK_ENV=development
SUPABASE_PROJECT_URL=https://your-supabase-project-url.supabase.co
SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
REDIS_URL=redis://localhost:6379
SECRET_KEY=super-secret-key
